/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');

/*-----------------------------------------Global Styles */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.row,
.container {
    margin: 0;
}

hr {
    border-top: 2.5px solid rgb(33, 37, 41);
    width: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*-----------------------------------------Headers */

h1 {
    color: #011826;
    text-shadow: 2px 2px #011826;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    color: #011826;
    font-size: 1.5rem;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    color: #011826;
    font-size: 1.2rem;
    font-weight: 500;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
}

/*-------------------------------------------- Navbar */
.navbar {
    font-family: 'Playfair Display', serif;
    font-size: 1rem !important;
    line-height: 1.5;
}

i.fas.fa-infinity {
    color: #69a8a9;
}

i.fas.fa-infinity:hover {
    color: #011826;
}

i.fab.fa-twitter-square,
i.fab.fa-facebook-square,
i.fab.fa-instagram-square,
i.fab.fa-pinterest {
    color: #69a8a9;
    font-size: 1.2rem;
}

i.fab.fa-twitter-square:hover,
i.fab.fa-facebook-square:hover,
i.fab.fa-instagram-square:hover,
i.fab.fa-pinterest:hover {
    color: #011826;
    font-size: 1.2rem;
}

a.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-shadow: 1px 1px #859CA6;
    font-weight: 300;
    font-size: 1.2rem;
}

/*-------------------------------------------- Containers */

.container-fluid {
    padding: 20px 60px;
    margin: 0 auto;
}

/* Jumbotron */
/* jumbotron syntax and were copied from Code Institute's Whiskey Drop project */
.jumbotron-container {
    background-image: url('../images/infinityphoto.jpg');

    background-size: cover;
    height: 100vh;
    min-height: 100%;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.jumbotron-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(1, 10, 10, .75);
    overflow: visible;
}


a.btn.btn-info.btn-lg {
    background-color: #69a8a9;
    color: #011826;
    border: none;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

a.btn.btn-info.btn-lg:hover {
    background-color: #203745bf;
    color: #f2f2f2;
    border: none;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}


h1.display-3 {
    font-family: 'Montserrat', sans-serif;
    color: #f2f2f2;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px #011826;
}

/*-------------------------------------------- About */

.about i {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 45px;
}

.about-content {
    font-size: 14px;
    font-weight: 400;
    margin: 0 auto;
    float: none;
    margin-bottom: 40px;
}

#about {
    padding-top: 40px;
    margin-top: 50px;
}

/*-------------------------------------------- Icons */
i.fas.fa-yin-yang.d-sm-block,
i.fas.fa-peace.d-sm-block,
i.fas.fa-heart.d-sm-block,
i.fas.fa-fire-alt.d-sm-block,
i.fas.fa-brain.d-sm-block,
i.fas.fa-praying-hands.d-sm-block {
    color: #69a8a9;
    font-size: 50px;
}

i.fas.fa-yin-yang.d-sm-block:hover,
i.fas.fa-peace.d-sm-block:hover,
i.fas.fa-heart.d-sm-block:hover,
i.fas.fa-fire-alt.d-sm-block:hover,
i.fas.fa-brain.d-sm-block:hover,
i.fas.fa-praying-hands.d-sm-block:hover {
    color: #011826;
    font-size: 50px;
}

/*-------------------------------------------- Schedule */
.img-thumbnail.rounded {
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
    box-shadow: 1px 2px 1px 2px #375a5a75;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*-------------------------------------------- Quotes */
.quotes-container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #90bfc0;
    overflow: visible;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 50px;
    margin-bottom: 30px;
}

img.figure-img.img-fluid.rounded-circle {
    vertical-align: middle;
    width: fit-content;
    max-width: 150px;
    height: 150px;
}

.figure-caption {
    font-size: 90%;
    color: #011826;
    padding-bottom: 20px;
}

/*-------------------------------------------- Contact */

button.btn.btn-info.float-right {
    background-color: #69a8a9;
    border: #69A8A9;
    font-family: 'Playfair Display', serif;
}

button.btn.btn-info.float-right:hover {
    background-color: #011801;
    border: #011801;
    font-family: 'Playfair Display', serif;
    color: #f2f2f2;
}

/*-------------------------------------------- Footer */
.footer {
    background-color: #f8f9fa;
}

footer i.fas.fa-chevron-up {
    font-size: 30px;
    margin-bottom: 20px;
    color: #69A8A9;
}

footer i.fas.fa-chevron-up:hover {
    font-size: 30px;
    margin-bottom: 10px;
    color: #011826;
}

footer h6 {
    font-size: 1rem;
    font-style: normal;
}

/*-------------------------------------------- Sections */

#schedule {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(135, 156, 166, 0.3);
}

#contact {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*-------------------------------------------- Media Queries */
@media only screen and (max-width: 320px) {
    .jumbotron-container {
        background-image: url('../images/infinityphoto.jpg');

        background-size: cover;
        height: 100vh;
        min-height: 100%;

        -webkit-box-pack: center;

        -ms-flex-pack: center;

        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        position: relative;
        overflow: hidden;
    }
}



/* 404 Error Page (https://colorlib.com) */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    padding: 0;
    margin: 0;
    background: #f2f2f2;
}

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center
}

.notfound .notfound-404 {
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 200px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -12px;
    color: #fe5e7c96;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px #e6d8e059, 1px 1px 0px #a5e8e8;
    letter-spacing: -20px;
    z-index: ;
}

.notfound .notfound-404 h2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    position: relative;
    left: 20px;
    right: 20px;
    top: -40px;
    /*! font-size:80px; */
    font-weight: 800;
    color: #000106;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #74b2e0;
    letter-spacing: 8px;
    margin: 0;
    font-size: 28px;
    font-size: 40px;
}

.notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #000106;
    text-decoration: none;
    border: 2px solid;
    background: 0 0;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all
}

.notfound a:hover {
    background-color: #90bfc0;
    border-color: #90bfc0;
    color: #f2f2f2;
}

a.button:hover {
    background-color: #d59cad;
    border-color: #d59cad;
    color: #F2F2F2;
}

@media only screen and (max-width:767px) {
    .notfound .notfound-404 h2 {
        font-size: 30px;
        text-align: center;
        /*! left: 20px; */
        /*! padding: 30px 30px 20px inherit; */
    }
}

@media only screen and (max-width:480px) {
    .notfound .notfound-404 h1 {
        font-size: 182px
    }
}