/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,600&display=swap');

/*-----------------------------------------Global Styles */

html {
    font-size: 16px;
}

hr {
    width: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 3px solid #69a8a9;
}

/* https://www.w3schools.com/cssref/sel_selection.asp */
::-moz-selection { /* Code for Firefox */
    color: #f2f2f2;
    background: #69a8a9;
  }
  
::selection {
    color: #f2f2f2;
    background: #69a8a9;
}

/*-----------------------------------------Headers */
h1 {
    color: #011826;
    text-shadow: 2px 2px #011826;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 60px;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    color: #011826;
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 50px;
}

h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    color: #011826;
    font-size: 1.2rem;
}

p {
    font-family: 'Futura-PT', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;    
}

/*-------------------------------------------- Navbar */
.navbar {
    font-family: 'Playfair Display', serif;
    font-size: 1rem !important;
    line-height: 1.5;
}

i.fas.fa-infinity {
    color: #69a8a9;
    font-size: 1.7rem;
    text-shadow: 1px 1px 1px #011826;
}

i.fas.fa-infinity:hover {
    color: #011826;
    font-size: 1.7rem;
    text-shadow: 1px 1px 1px #69a8a9;
}

i.fab.fa-twitter-square,
i.fab.fa-facebook-square,
i.fab.fa-instagram-square,
i.fab.fa-pinterest {
    color: #69a8a9;
    font-size: 1.2rem;
}

i.fab.fa-twitter-square:hover,
i.fab.fa-facebook-square:hover,
i.fab.fa-instagram-square:hover,
i.fab.fa-pinterest:hover {
    color: #011826;
    font-size: 1.2rem;
}

a.navbar-brand {
    font-family: 'Futura-PT', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.7rem;
    text-shadow: 1px 1px 1px rgba(135, 156, 166, 0.7);
}

/*-------------------------------------------- Jumbotron */
/* jumbotron syntax and were copied from Code Institute's Whiskey Drop project */
.jumbotron-container {
    background-image: url('../images/infinityphoto.jpg');

    background-size: cover;
    max-width: 100%;
    height: 100vh;
    min-height: 100%;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.jumbotron-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(1, 10, 10, .85);
    overflow: visible;
}


a.btn.btn-info.btn-lg {
    background-color: #69a8a9;
    color: #011826;
    border: none;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

a.btn.btn-info.btn-lg:hover {
    background-color: #203745bf;
    color: #f2f2f2;
    border: none;
    font-family: 'Playfair Display', serif;
    font-style: italic;
}


h1.display-3 {
    font-family: 'Futura-PT', sans-serif;
    color: #f2f2f2;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px #011826;
    font-size: 5rem;
}

h2.lead {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-align: center;
    color: #011826;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*-------------------------------------------- About */

.about i {
    margin-bottom: 20px;
    line-height: 45px;
}

.about-content {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
    float: none;
    margin-bottom: 40px;
}

/*-------------------------------------------- Icons */
i.fas.fa-yin-yang.d-sm-block,
i.fas.fa-peace.d-sm-block,
i.fas.fa-heart.d-sm-block,
i.fas.fa-fire-alt.d-sm-block,
i.fas.fa-brain.d-sm-block,
i.fas.fa-praying-hands.d-sm-block {
    color: #69a8a9;
    font-size: 50px;
}

i.fas.fa-yin-yang.d-sm-block:hover,
i.fas.fa-peace.d-sm-block:hover,
i.fas.fa-heart.d-sm-block:hover,
i.fas.fa-fire-alt.d-sm-block:hover,
i.fas.fa-brain.d-sm-block:hover,
i.fas.fa-praying-hands.d-sm-block:hover {
    color: #011826;
    font-size: 50px;
}

/*-------------------------------------------- Schedule */
.container-wrapper-schedule{
    background: rgba(135, 156, 166, 0.2);
    text-align: center;
}

p.schedule-content {
    font-size: 1rem;
    margin-bottom: 30px;
}
 
.card {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: rgba(1, 24, 38, 0.16) 0px 2px 5px 0px, rgba(1, 24, 38, 0.12) 0px 2px 10px 0px;
    box-shadow: rgba(1, 24, 38, 0.16) 0px 2px 5px 0px, rgba(1, 24, 38, 0.12) 0px 2px 10px 0px;
  }

p.text-muted {
  font-size: 14px;
  font-family: 'Futura-PT', sans-serif;
}

.signUp {
  width: 130px;
  height: 65px;
  margin: 0 auto;
  line-height: 65px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

svg rect, svg path, svg polyline {
  fill: none;
  stroke-width: 2px;
}

.signUp:hover svg rect {
  stroke: #69a8a9;
}

svg rect {
  stroke-dasharray: 400, 0;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

.signUp:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 35, 245;
  stroke-dashoffset: 38;
  transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}

a.nav-link.signUp {
	color: #69a8a9;
	text-align: center;
	border-radius: 2px;
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-family: 'Futura-PT', sans-serif;
    font-size: 1rem;
    margin-bottom: 15px;
    color: #69a8a9;
}

/*Sign Up Form */
label.fname, label.lname, label.email, label.class, label.email, label.class_selection {
    font-family: "Futura-PT", sans-serif;
    font-size: 14px;
    text-align: left;
    line-height: 1.5;
}

.vinyasa, .restorative, .chakracleansing {
    font-family: "Futura-PT", sans-serif;
    font-size: 14px;
    text-align: right;
    line-height: 1.5;
}
  
#fname, #lname, #email {
    font-family: "Futura-PT", sans-serif;
    color: #4ba0b5;
}

.form-control::placeholder,
.form-control::-webkit-input-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder {
    font-family: "Futura-PT", sans-serif;
}

button.btn.btn-info {
    font-size: 12.5px;
    margin-top: 18px;
    font-family: "Playfair Display", serif;
    background-color: #69a8a9;
    border-color: transparent;
}

button.btn.btn-info:hover {
    font-size: 12.5px;
    margin-top: 18px;
    font-family: "Playfair Display", serif;
    background-color: #011801;
    border-color: transparent;
    color: #f2f2f2;
}
  
  .form-row {
    overflow: hidden;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
  }

a.nav-link:hover,
a.nav-link.active.signUp:hover {
	color: #69a8a9;
	border-radius: 2px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.nav-link {
	display: block;
}

form {
    position: relative;
}

@media only screen and (max-width: 320px) {
    [type="date"] {
        font-family: 'Futura-PT', sans-serif;
        font-size: 16px;
    }
  }

  @media only screen and (max-width: 320px) {
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    font-size: medium;
  }
}

input, 
.form-control {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    font-family: 'Futura-PT', sans-serif;
    color: #69a8a9;
  }

#date {
    font-size: 1rem;
    width: 200px;
    height: 50px;
  }
  
  .fas.fa-calendar {
    color: #69a8a9;
    font-size: 1rem;
  }

/*-------------------------------------------- Quotes */
.container-wrapper-quotes{
    background: rgba(135, 156, 166, 0.2);
    text-align: center;
    margin-top: 30px;
    padding: 60px 40px;
}

.top-color {
    background-color: #69a8a9 !important;
}

.quote-card .card-top {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
  
.quote-card .avatar {
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 50%;
  }

.img-fluid {
    max-width: 100%;
    height: auto;
}

.card.quote-card.h-100 {
    background-color: #fff;
    -webkit-box-shadow: rgba(1, 24, 38, 0.16) 0px 2px 5px 0px, rgba(1, 24, 38, 0.12) 0px 2px 10px 0px;
    box-shadow: rgba(1, 24, 38, 0.16) 0px 2px 5px 0px, rgba(1, 24, 38, 0.12) 0px 2px 10px 0px;
  }
  
  .col-xs-8.col-sm-4 {
    margin-top: 20px;
  }

  .card-body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

blockquote {
    font-family: 'Futura-PT', sans-serif;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px;
}

/*-------------------------------------------- Contact */
.row.contact {
    margin-top: 50px;
}

button.btn.btn-info.float-right {
    background-color: #69a8a9;
    border-color: transparent;
    font-family: 'Playfair Display', serif;
}

button.btn.btn-info.float-right:hover {
    background-color: #011801;
    border-color: transparent;
    font-family: 'Playfair Display', serif;
    color: #f2f2f2;
}

.form-group {
    margin-top: 20px;
}

.form-control::-webkit-input-placeholder, 
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder, 
.form-control::placeholder {

}


/*-------------------------------------------- Footer */
footer {
    margin-bottom: 20px;
    margin-top: 20px;
}

footer i.fas.fa-chevron-up {
    font-size: 30px;
    color: #69A8A9;
}

footer i.fas.fa-chevron-up:hover {
    font-size: 30px;
    color: #011826;
}

footer h6 {
    font-size: 1rem;
    font-style: normal;
    margin-top: 20px;
}

/*-------------------------------------------- Sections */
#about {
    padding: 60px 40px;
    margin-bottom: 50px;
}

#schedule {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 60px 40px;
}

#contact {
    padding: 60px 40px;
    margin-bottom: 50px;
}

#quotes {
    margin-bottom: 50px;
}

/*./sections*/


/*-------------------------------------------- Media Queries */
@media only screen and (max-width: 320px) {
    .jumbotron-container {
        background-image: url('../images/infinityphoto.jpg');

        background-size: cover;
        height: 100vh;
        min-height: 100%;

        -webkit-box-pack: center;

        -ms-flex-pack: center;

        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        position: relative;
        overflow: hidden;
    }
}

/*--------------------------------------------  404 Error Page (https://colorlib.com) */
#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center
}

.notfound .notfound-404 {
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 200px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -12px;
    color: #fe5e7c96;
    text-transform: uppercase;
    text-shadow: -1px -1px 0px #e6d8e059, 1px 1px 0px #a5e8e8;
    letter-spacing: -20px;
}

.notfound .notfound-404 h2 {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    position: relative;
    left: 20px;
    right: 20px;
    top: -40px;
    font-weight: 800;
    color: #000106;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #74b2e0;
    letter-spacing: 8px;
    margin: 0;
    font-size: 28px;
    font-size: 40px;
}

.notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #000106;
    text-decoration: none;
    border: 2px solid;
    background: 0 0;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all
}

.notfound a:hover {
    background-color: #90bfc0;
    border-color: transparent;
    color: #f2f2f2;
}

a.button:hover {
    background-color: #d59cad;
    border-color: transparent;
    color: #F2F2F2;
}